.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.icon {
    padding: 35px 35px;
    font-size: 80px;
    transition: all 0.3s ease-in-out;
}

.icon:hover {
    color: #ecf791;
    transform: scale(1.3)
}